
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');


body {
    font-family: 'Reddit Mono', monospace;
    background-color: #d1e7c7;
    margin: 20px;
    padding: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
}

p {
    font-size: 1.5em;
    color: #666;
}

button {
    font-size: 1.5em;
    color: #fffbfb;
    background-color: #6c3c3c;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #c88989;
}